/************************************************************************
*   
*   G L O B A L  C S S
*   
*   Author:  Blink Creative
*   Date:    21 March 2012
*   Web:     http://work.igeekify.com
*   Email:   breon@blinkcreative.com.au
*   Version: 1.0
* 
*************************************************************************/


/*-----------------------------------------------------------------------
Reset
------------------------------------------------------------------------*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video,input, textarea, button 
{
    background:transparent;
    border:0;
    font-size:100%;
	list-style:none;
    margin:0;
    outline:0;
    padding:0;
    vertical-align:baseline;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary 
{ 
    display:block;
}

nav ul 
{
    list-style:none;
}

blockquote, q 
{
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after 
{
    content:'';
    content:none;
}

a 
{
    background:transparent;
    border:0;
    font-size:100%;
    margin:0;
    padding:0;
    vertical-align:baseline;
}

ins 
{
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark 
{
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del 
{
    text-decoration: line-through;
}

abbr[title], dfn[title] 
{
    border-bottom:1px dotted #000;
    cursor:help;
}

table 
{
    border-collapse:collapse;
    border-spacing:0;
}

hr 
{
    border:0;   
    border-top:1px solid #cccccc;
    display:block;
    height:1px;
    margin:1em 0;
    padding:0;
}

input, select 
{
    vertical-align:middle;
}

/*-----------------------------------------------------------------------
Control Panel
------------------------------------------------------------------------*/

.wrapper
{
	margin:0 auto;
	position:relative;
	width:940px;
	z-index:2;
}

.float-left
{
	float:left;
}

.float-right
{
	float:right;	
}

.clear
{
	clear:both;	
}

/*-----------------------------------------------------------------------
Fonts
------------------------------------------------------------------------*/

body
{
	font-family:Arial, Helvetica, sans-serif;
	overflow-x:hidden;
}

@font-face {
    font-family: 'RotisSemiSerifRegular';
    src: url('../fonts/rotiss__-webfont.eot');
    src: url('../fonts/rotiss__-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rotiss__-webfont.woff') format('woff'),
         url('../fonts/rotiss__-webfont.ttf') format('truetype'),
         url('../fonts/rotiss__-webfont.svg#RotisSemiSerifRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*-----------------------------------------------------------------------
Containers
------------------------------------------------------------------------*/

#frame-header
{
	height:120px;
	padding:20px 0;
}

#frame-splash
{
	background:url(../images/splash/splash-one.jpg) no-repeat center #807773;
	height:380px;
	position:relative;
	z-index:2;
}

#frame-footer
{
	background:#807772;	
}

/*-----------------------------------------------------------------------
Landing Page
------------------------------------------------------------------------*/

/*--Header--------------------------------------------------------------*/

/*--Social--*/

#frame-header #social
{
	float:right;
	width:74px;	
}

#frame-header #social li
{
	float:left;
	margin:12px 0 0 7px;
}

#frame-header #social li a
{
	background:url(../images/sprite-solid.jpg) no-repeat;
	display:block;
	text-decoration:none;
	height:30px;
	text-indent:-9999px;
	width:30px;	
}

#frame-header #social li.email-us a{background-position:0 0;}
#frame-header #social li.email-us a:hover{background-position:0 -31px;}

#frame-header #social li.network-linkedin a{background-position:-64px 0;}
#frame-header #social li.network-linkedin a:hover{background-position:-64px -31px;}

#frame-header #coming-soon
{
	color:#807772;
	clear:both;
	display:block;
    font-family: 'RotisSemiSerifRegular';
	font-size:22px;
	font-weight:normal;
	padding:33px 0 0;
}

/*--Splash-------------------------------------------------------------*/

#frame-splash h1
{
	color:#FFF;
	float:right;
    font-family: 'RotisSemiSerifRegular';
	font-size:34px;
	font-weight:normal;
	line-height:39px;
	margin:130px 0 0;
	text-shadow:-1px -1px 3px #000000;
	width:465px;
}

/*--Content------------------------------------------------------------*/

#frame-content
{
	position:relative;	
}

#frame-content h2
{
	border-bottom:2px solid #e0dddc;
	color:#6c8f34;
    font-family: 'RotisSemiSerifRegular';
	font-size:23px;
	font-weight:normal;
	line-height:26px;
    margin: 0 0 45px;
    padding:45px 130px 45px 0;
}


#frame-content p
{
	color:#807772;
	font-size:14px;
	line-height:20px;
}

#frame-content dt
{
	color:#807772;
	font-size:14px;
	line-height:20px;
	padding:0 0 8px;
}

#frame-content dl li
{
	background:url(../images/bullet.gif) no-repeat 0 8px;
	color:#807772;
	font-size:14px;
	line-height:20px;
	margin:0;	
	padding:0 0 0 13px;
}

#frame-content .left-column
{
	float:left;
	width:613px;
}

#frame-content .sidebar
{
	float:right;
	width:273px;
}

/*--contact--*/

#frame-content h3
{
	color:#6c8f34;
    font-family: 'RotisSemiSerifRegular';
	font-size:23px;
	font-weight:normal;
	line-height:26px;
}

#frame-content h4
{
	color:#807772;
	font-size:14px;
	line-height:20px;
}

#frame-content address
{
	color:#807772;
	font-size:14px;
	font-style:normal;
	line-height:20px;
}

#watermark-container
{
	margin:0 auto;
	position:relative;
	width:960px;	
}

#watermark
{
	bottom:0;
	right:-782px;
	position:absolute;
	z-index:1;
}

/*--credentials--*/

#credentials
{
	border-top:2px solid #e0dddc;
    margin: 45px 0 0;
    padding: 45px 0;
}

#credentials #logo-api
{
	height:35px;
	overflow:hidden;	
}

#credentials #logo-api a
{
	background:url(../images/sprite-solid.jpg) no-repeat 0 -208px;
	display:block;
	height:64px;
	text-indent:-9999px;
	width:121px;
}	

#credentials p
{
	color:#807772;
    font-family: 'RotisSemiSerifRegular';
	font-size:18px;
	font-weight:normal;
	line-height:22px;
	padding:0 0 0 25px;
	width:794px;
}

/*--Footer--------------------------------------------------------------*/

#frame-footer
{
	padding:45px 0;	
}

#frame-footer h3
{
	color:#d7d2d0;
    font-family: 'RotisSemiSerifRegular';
	font-size:20px;
	font-weight:normal;
	line-height:20px;
	margin:45px 0 0;
}

#frame-footer #logo-ava a
{
	background:url(../images/sprite-solid.jpg) no-repeat 0 -144px;
	display:block;
	height:64px;
	margin:0 0 0 20px;
	text-indent:-9999px;
	width:78px;
}

#frame-footer .social
{
	margin:20px 20px 0 0;
}

#frame-footer .social li
{
	float:left;
	margin:0 0 0 8px;	
}

#frame-footer .social li a
{
	background:url(../images/sprite-solid.jpg) no-repeat;
	display:block;
	text-decoration:none;
	height:40px;
	text-indent:-9999px;
	width:40px;	
}

#frame-footer .social li.email-us a{background-position:0 -63px;}
#frame-footer .social li.email-us a:hover{background-position:0 -104px;}

#frame-footer .social li.network-linkedin a{background-position:-82px -63px;}
#frame-footer .social li.network-linkedin a:hover{background-position:-82px -104px;}

