/************************************************************************
*   
*   G L O B A L  C S S
*   
*   Author:  Blink Creative
*   Date:    21 March 2012
*   Web:     http://work.igeekify.com
*   Email:   breon@blinkcreative.com.au
*   Version: 1.0
* 
*************************************************************************/


/*-----------------------------------------------------------------------
Reset
------------------------------------------------------------------------*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video,input, textarea, button 
{
    background:transparent;
    border:0;
    font-size:100%;
	list-style:none;
    margin:0;
    outline:0;
    padding:0;
    vertical-align:baseline;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary 
{ 
    display:block;
}

nav ul 
{
    list-style:none;
}

#sitemap .footer-contact .blink a
{
	color:#A09591;
	font-size:12px;
	display:block;
}

blockquote, q 
{
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after 
{
    content:'';
    content:none;
}

a 
{
    background:transparent;
    border:0;
    font-size:100%;
    margin:0;
    padding:0;
    vertical-align:baseline;
}

ins 
{
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark 
{
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del 
{
    text-decoration: line-through;
}

abbr[title], dfn[title] 
{
    border-bottom:1px dotted #000;
    cursor:help;
}

table 
{
    border-collapse:collapse;
    border-spacing:0;
}

hr 
{
    border:0;   
    border-top:1px solid #cccccc;
    display:block;
    height:1px;
    margin:1em 0;
    padding:0;
}

input, select 
{
    vertical-align:middle;
}

/*-----------------------------------------------------------------------
Control Panel
------------------------------------------------------------------------*/

.wrapper
{
	margin:0 auto;
	position:relative;
	width:940px;
	z-index:2;
}

.float-left
{
	float:left;
}

.float-right
{
	float:right;	
}

.clear
{
	clear:both;	
}

/*-----------------------------------------------------------------------
Fonts
------------------------------------------------------------------------*/

body
{
	font-family:Arial, Helvetica, sans-serif;
	overflow-x:hidden;
}

@font-face {
    font-family: 'RotisSemiSerifRegular';
    src: url('../fonts/rotiss__-webfont.eot');
    src: url('../fonts/rotiss__-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rotiss__-webfont.woff') format('woff'),
         url('../fonts/rotiss__-webfont.ttf') format('truetype'),
         url('../fonts/rotiss__-webfont.svg#RotisSemiSerifRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

p a,
li a
{
	color:#6C8F34;
	text-decoration:none;	
}

p a:hover,
li a:hover
{
	text-decoration:underline;	
}


/*-----------------------------------------------------------------------
Containers
------------------------------------------------------------------------*/

#frame-header
{
	height:120px;
	padding:20px 0;
	position:relative;
	z-index:999;
}

#frame-splash
{
	height:380px;
	overflow:hidden;
	position:relative;
	z-index:2;
}

#frame-footer
{
	background:#807772;	
}

/*-----------------------------------------------------------------------
Global
------------------------------------------------------------------------*/

/*--Header--------------------------------------------------------------*/

/*--Social--*/

#frame-header #social
{
	float:right;
	width:74px;	
}

#frame-header #social li
{
	float:left;
	margin:12px 0 0 7px;
}

#frame-header #social li a
{
	background:url(../images/sprite-solid.jpg) no-repeat;
	display:block;
	text-decoration:none;
	height:30px;
	text-indent:-9999px;
	width:30px;	
}

#frame-header #social li.email-us a{background-position:0 0;}
#frame-header #social li.email-us a:hover{background-position:0 -31px;}

#frame-header #social li.network-linkedin a{background-position:-64px 0;}
#frame-header #social li.network-linkedin a:hover{background-position:-64px -31px;}

#frame-header #coming-soon
{
	color:#807772;
	clear:both;
	display:block;
    font-family: 'RotisSemiSerifRegular';
	font-size:22px;
	font-weight:normal;
	padding:33px 0 0;
}

/*--navigation--*/

#navigation-main
{
	float:right;	
	padding:35px 0 0;
	width:100%;
}


#navigation-main li
{
	float:left;
	font-size:22px;	
    font-family: 'RotisSemiSerifRegular';
	margin:0 0 0 30px;
	position:relative;
}

#navigation-main li a
{
	color:#807772;
	display:block;
	height:40px;
	text-decoration:none;
}

#navigation-main li a:hover,
#navigation-main li.current_page_item > a,
#navigation-main li.current-page-ancestor > a
{
	color:#6c8f34;
}

#navigation-main li li a
{
	color:#ffffff !important;
}


#navigation-main li ul
{
	background:#6c8f34;
	display:none;
	position:absolute;
	left:0;
	padding:20px;
	top:40px;
	width:240px;
}

#navigation-main li li
{
	border-bottom:1px solid #abc483;
	color:#ffffff;
	clear:both;
	float:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;	
	padding:0 0 7px;
	margin:0 0 7px;
}

#navigation-main li li a
{
	color:#ffffff;
	height:auto;
}

#navigation-main li li a:hover
{
	color:#ffffff;
	font-weight:bold;
}

#navigation-main li:hover ul
{
	display:block;
}





/*--Content------------------------------------------------------------*/

#frame-content
{
	overflow:hidden;
	position:relative;
}

#frame-content .intro-text p
{
	border-bottom:2px solid #e0dddc;
	color:#6c8f34;
    font-family: 'RotisSemiSerifRegular';
	font-size:23px;
	font-weight:normal;
	line-height:26px;
	margin:0 0 45px;
    padding:45px 130px 45px 0;
}


#frame-content p
{
	color:#807772;
	font-size:14px;
	line-height:20px;
}

#frame-content dt
{
	color:#807772;
	font-size:14px;
	line-height:20px;
	padding:0 0 8px;
}

#frame-content dl li
{
	background:url(../images/bullet.gif) no-repeat 0 8px;
	color:#807772;
	font-size:14px;
	line-height:20px;
	margin:0;	
	padding:0 0 0 13px;
}

#frame-content .left-column
{
	float:left;
	width:613px;
}

#frame-content .sidebar
{
	float:right;
	width:273px;
}

/*--Sidebar-------------------------------------------------------------*/

#frame-content .module
{
	cursor:pointer;	
}

#frame-content .module h3
{
	background:url(../images/background-transparent.png) repeat-x;
	color:#ffffff;
	font-size:38px;
	line-height:56px;
	padding:0 20px;
}

#frame-content .module
{
	background:url(../images/background-module.jpg) repeat-x bottom;
	-moz-border-radius:0 0 15px;
	-webkit-border-radius:0 0 15px;
	border-radius:0 0 15px;
	
}

#frame-content .module-copy
{
	padding:11px 20px;	
}

#frame-content .module-copy a
{
	font-weight:bold;	
}

/*--Footer--------------------------------------------------------------*/

#frame-footer
{
	padding:45px 0;	
}

#frame-footer h3
{
	color:#d7d2d0;
    font-family: 'RotisSemiSerifRegular';
	font-size:20px;
	font-weight:normal;
	line-height:20px;
	margin:45px 0 0;
}

#frame-footer #logo-ava a
{
	background:url(../images/sprite-solid.jpg) no-repeat 0 -144px;
	display:block;
	height:64px;
	margin:0 0 0 20px;
	text-indent:-9999px;
	width:78px;
}

#frame-footer #links
{
	width:203px;	
}

#frame-footer .social
{
	margin:20px 0 0 0;
	width:96px;
}

#frame-footer .social li
{
	float:left;
	margin:0 0 0 8px;	
}

#frame-footer .social li a
{
	background:url(../images/sprite-solid.jpg) no-repeat;
	display:block;
	text-decoration:none;
	height:40px;
	text-indent:-9999px;
	width:40px;	
}

#frame-footer .social li.email-us a{background-position:0 -63px;}
#frame-footer .social li.email-us a:hover{background-position:0 -104px;}

#frame-footer .social li.network-linkedin a{background-position:-82px -63px;}
#frame-footer .social li.network-linkedin a:hover{background-position:-82px -104px;}

#sitemap
{
	clear:both;
	float:left;
	margin:40px 0 0;	
}

#sitemap li
{
	float:left;	
	font-size:14px;
}

#sitemap li li
{
	clear:both;
	display:block;
	float:none;	
}

#sitemap li a
{
	border-bottom:1px solid #9F9793;
	border-top:1px solid #9F9793;
	color:#D7D2D0;
	display:block;
	font-weight:bold;
	line-height:30px;
	text-decoration:none;
}

#sitemap li li a,
#sitemap li p a
{
	border:none;
	color:#C1BCB9;
	display:block;
	font-weight:normal;
	line-height:16px;
	padding:7px 0 0;
	text-decoration:none;
}

#sitemap li p a:hover,
#sitemap li li a:hover
{
	text-decoration:underline;	
}

#sitemap .footer-news li
{
	font-size:12px;
	line-height:16px;
}

#sitemap .footer-news li a
{
	line-height:14px;	
}

.footer-about p{width:123px; padding:0px 10px 0 0 !important;}
.footer-services p{width:148px; padding:0 10px 0 0 !important;}
.footer-clients li{width:110px; padding:0 38px 0 0;}
.footer-industry li{width:130px;  padding:0 38px 0 0;}
.footer-news li{width:105px; padding:0 32px 0 0;}
.footer-contact li{width:191px;}

.footer-contact p
{
	color:#C1BCB9;
	line-height:16px;
	padding:7px 0 0;
}

#sitemap .footer-contact p a
{
	display:inline;
}

/*--contact--*/

#frame-content h3
{
	color:#6c8f34;
    font-family: 'RotisSemiSerifRegular';
	font-size:23px;
	font-weight:normal;
	line-height:26px;
}

#frame-content h3 a
{
	color:#6c8f34;
	text-decoration:none;
}

#frame-content h3 a:hover
{
	text-decoration:underline;
}

#frame-content h4
{
	color:#807772;
	font-size:14px;
	line-height:20px;
}

#frame-content address
{
	color:#807772;
	font-size:14px;
	font-style:normal;
	line-height:20px;
}

#watermark-container
{
	margin:0 auto;
	position:relative;
	width:960px;	
}

#watermark
{
	bottom:0;
	right:-782px;
	position:absolute;
	z-index:1;
}

/*-----------------------------------------------------------------------
Homepage
------------------------------------------------------------------------*/

/*--Splash-------------------------------------------------------------*/

#frame-splash .wrapper
{
	height:380px;	
}

#frame-splash .slide-one
{
	background:url(../images/splash/Home_Page_Banner_01.jpg) no-repeat center top #807773;
	width:100% !important;	
}

#frame-splash .slide-two
{
	background:url(../images/splash/Home_Page_Banner_02.jpg) no-repeat center top #807773;
	width:100% !important;	
}

#frame-splash .slide-three
{
	background:url(../images/splash/Home_Page_Banner_03.jpg) no-repeat center top #807773;
	width:100% !important;	
}


#frame-splash .slide
{
	right:0 !important;	
}

#frame-splash .slide-details
{
	float:right;
	margin:70px 0 0;
	width:292px;
}

#frame-splash .slide-details h1
{
	color:#FFF;
    font-family: 'RotisSemiSerifRegular';
	font-size:61px;
	font-weight:normal;
	line-height:61px;
	text-shadow:1px 1px 3px #333333;
}

#frame-splash .slide-details p
{
	color:#FFF;
	font-size:14px;
	font-weight:normal;
	line-height:20px;
	text-shadow:1px 1px 1px #333333;
}

#frame-splash .slide-details p a
{
	color:#ffffff;
	font-weight:bold;
	text-decoration:none;
}

#frame-splash .slide-details p a:hover
{
	text-decoration:underline;
}	

#pager-container
{
	margin:0 auto;
	position:relative;
	width:960px;	
	z-index:9999;	
}

#pager
{
	position:absolute;
	top:350px;
	right:0;
	z-index:9999;	
}

#pager a
{
	background:url(../images/pager.png) -16px 0 no-repeat;
	display:block;
	float:left;
	height:11px;
	margin:0 5px 0 0;
	text-indent:-9999px;	
	width:11px;
	position:relative;
	z-index:9999;	
}

#pager a.activeSlide
{
	background-position:0 0;
}	

/*--Content-------------------------------------------------------------*/


#three-column li
{
	float:left;
	margin:0 0 0 40px;
	width:286px;
}

#three-column li li
{
	margin:0;	
}

#three-column li#navigation-module
{
	margin:0;	
}

#navigation-module .first a
{
	-moz-border-radius:15px 0 0 0;
	-webkit-border-radius:15px 0 0 0;
	border-radius:15px 0 0 0;
}

#navigation-module .last a
{
	-moz-border-radius:0 0 15px;
	-webkit-border-radius:0 0 15px;
	border-radius:0 0 15px;
}

#navigation-module li a
{
	background:url(../images/module-navigation-bg.jpg) repeat-x;
	color:#807773;
	display:block;
	height:50px;
    font-family: 'RotisSemiSerifRegular';
	font-size:20px;
	font-weight:normal;
	line-height:57px;
	padding:0 20px;
	text-decoration:none;
	width:247px;
}

#navigation-module li a:hover
{
	background-position:0 -50px;
	color:#ffffff;
}

#services-module
{
	background:url(../images/module-services.jpg) no-repeat;
	height:145px;
	padding:105px 0 0;
}

#clients-module
{
	background:url(../images/module-clients.jpg) no-repeat;
	height:145px;
	padding:105px 0 0;
}

#news-module
{
	background:url(../images/module-news.jpg) no-repeat;
	height:145px;
	padding:105px 0 0;
}

#expertise-module
{
	background:url(../images/module-expertise.jpg) no-repeat;
	height:145px;
	padding:105px 0 0;
}


#two-column #left-column p strong
{
	color:#6C8F34;
}

/*--credentials--*/

#credentials
{
	height:44px;
    padding: 45px 0;
}

#credentials #logo-api
{
	height:35px;
	overflow:hidden;
	padding:5px 0 0;	
}

#credentials #logo-api a
{
	background:url(../images/sprite-solid.jpg) no-repeat 0 -208px;
	display:block;
	height:64px;
	text-indent:-9999px;
	width:121px;
}	

#credentials p
{
	color:#807772;
    font-family: 'RotisSemiSerifRegular';
	font-size:18px;
	font-weight:normal;
	line-height:22px;
	padding:0 0 0 25px;
	width:794px;
}


/*-----------------------------------------------------------------------
Subpage
------------------------------------------------------------------------*/


/*--Splash--------------------------------------------------------------*/

#frame-splash-subpage
{
	background:#807773;
	height:300px;
	position:relative;
	text-align:center;	
	z-index:2;
}

#frame-splash-subpage img
{
	height:300px;
	overflow:hidden;
	text-align:center;	
}

/*--Content-------------------------------------------------------------*/

#two-column
{
	padding:0 0 50px 0;	
}

#two-column #left-column img
{
	padding:5px 20px 0 0;	
}

#two-column #left-column
{
	width:588px;
}

#two-column #left-column h1
{
	color:#6C8F34;
    font-family: 'RotisSemiSerifRegular';
	font-weight:normal;
	font-size:45px;
	margin:0 0 20px;
}

#two-column #left-column p
{
	font-size:16px;
	line-height:22px;
	margin:15px 0;	
}

#two-column #left-column ul
{
	margin:0 0 10px;	
}

#two-column #left-column ul li
{
	background:url(../images/bullet.gif) no-repeat left 8px;
	color:#807772;
    font-size: 16px;
    line-height: 22px;
	padding:0 0 3px 20px;
}

#two-column #right-column
{
	width:286px;
}

.question
{
	margin:30px 0 0;	
}

.question a
{
	background:url(../images/icon-phone.gif) no-repeat;
	color:#6C8F34;
	display:block;
    font-family: 'RotisSemiSerifRegular';
	font-weight:normal;
	font-size:16px;
	text-decoration:none;
	padding:5px 0 0 70px;
	height:45px;
	width:450px;
}

/*--sidebar-------------------------------------------------------------*/

#sidebar li
{
	margin:0 0 50px;	
}


/*--Blog-------------------------------------------------------------*/

.blog-post
{
	margin:40px 0 0;	
}

#blog-list small
{
	color:#807772;
	font-size:12px;
	font-style:italic;	
}

#blog-list .item
{
	margin:0 0 40px;	
}

#blog-navigation
{
	border-top:1px solid #E0DDDC;
	margin:10px 0 0;
	padding:10px 0;	
}

#blog-navigation a
{
	color:#6C8F34;
	font-size:12px;
	text-decoration:none;
}


#blog-navigation a:hover
{
	text-decoration:underline;	
}


/*--Blog-------------------------------------------------------------*/

.search-form
{
	margin:12px 0 0;	
}

.search-form input
{
	color:#937F78;
	padding:5px;
	border:1px solid #dadada;	
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	height:18px;
	width:200px;
}
